In [2]:
import json
import pandas as pd

In [23]:
with open('DBCA_Fire_History_DBCA_060_WA_GDA2020_Public.geojson') as f:
    data = json.load(f)

In [24]:
d1 = pd.DataFrame(data["features"])
d1

,type,geometry,properties
0,Feature,"{'type': 'Polygon', 'coordinates': [[[116.0743...","{'fih_fire_seaso': '1937/1938', 'fih_year1': 1..."
1,Feature,"{'type': 'Polygon', 'coordinates': [[[116.1082...","{'fih_fire_seaso': '1937/1938', 'fih_year1': 1..."
2,Feature,"{'type': 'Polygon', 'coordinates': [[[116.0872...","{'fih_fire_seaso': '1937/1938', 'fih_year1': 1..."
3,Feature,"{'type': 'Polygon', 'coordinates': [[[116.0881...","{'fih_fire_seaso': '1937/1938', 'fih_year1': 1..."
4,Feature,"{'type': 'Polygon', 'coordinates': [[[116.1367...","{'fih_fire_seaso': '1937/1938', 'fih_year1': 1..."
...,...,...,...
165471,Feature,"{'type': 'MultiPolygon', 'coordinates': [[[[11...","{'fih_fire_seaso': '2021/2022', 'fih_year1': 2..."
165472,Feature,"{'type': 'Polygon', 'coordinates': [[[116.8141...","{'fih_fire_seaso': '2021/2022', 'fih_year1': 2..."
165473,Feature,"{'type': 'Polygon', 'coordinates': [[[117.2493...","{'fih_fire_seaso': '2021/2022', 'fih_year1': 2..."
165474,Feature,"{'type': 'MultiPolygon', 'coordinates': [[[[11...","{'fih_fire_seaso': '2021/2022', 'fih_year1': 2..."
165475,Feature,"{'type': 'MultiPolygon', 'coordinates': [[[[11...","{'fih_fire_seaso': '2021/2022', 'fih_year1': 2..."

In [28]:
d3 = d1['properties'].apply(pd.Series)
d3.head()

,fih_fire_seaso,fih_year1,fih_season1,fih_district,fih_hist_distr,fih_number,fih_fire_type,fih_date1,fih_cause,fih_ignit_type,...,fih_poly_type,fih_comment,fih_name,fih_burn_purp,fih_master_key,fih_perimeter,fih_hectares,st_area_shape_,st_perimeter_shape_,object_id
0,1937/1938,1938.0,SU,PHL,Mundaring,999,WF,19380101,999.0,0,...,Actual Burnt,Wildfire,,0,43952.0,6.288631,174.906766,0.000167,0.060722,1
1,1937/1938,1938.0,SU,PHL,Mundaring,C30,WF,19380101,999.0,0,...,Actual Burnt,Wildfire - Feb 1 to 7,,0,43953.0,8.286159,327.299341,0.000312,0.083176,2
2,1937/1938,1938.0,SU,PHL,Mundaring,999,WF,19380101,999.0,0,...,Actual Burnt,Wildfire - Closed,,0,43954.0,7.074500,261.536517,0.000249,0.067322,3
3,1937/1938,1938.0,SU,PHL,Mundaring,999,WF,19380101,999.0,0,...,Actual Burnt,Wildfire,,0,43955.0,3.033593,39.225354,0.000037,0.029529,4
4,1937/1938,1938.0,SU,PHL,Mundaring,A8,WF,19380101,999.0,0,...,Actual Burnt,Wildfire,,0,43957.0,4.081616,117.091900,0.000112,0.039589,5

In [25]:
d4 = d1['geometry'].apply(pd.Series)
d4.head()

      type                                        coordinates
0  Polygon  [[[116.074300609, -31.945557995], [116.0741785...
1  Polygon  [[[116.108261821, -31.957856341], [116.1083206...
2  Polygon  [[[116.087268732, -31.898665005], [116.0873394...
3  Polygon  [[[116.088152912, -31.97089126], [116.08815834...
4  Polygon  [[[116.136785657, -31.953972478], [116.1363256...

In [26]:
d4['coords'] = d4.coordinates.apply(lambda x:x[0][0])
d4.head()

,type,coordinates,coords
0,Polygon,"[[[116.074300609, -31.945557995], [116.0741785...","[116.074300609, -31.945557995]"
1,Polygon,"[[[116.108261821, -31.957856341], [116.1083206...","[116.108261821, -31.957856341]"
2,Polygon,"[[[116.087268732, -31.898665005], [116.0873394...","[116.087268732, -31.898665005]"
3,Polygon,"[[[116.088152912, -31.97089126], [116.08815834...","[116.088152912, -31.97089126]"
4,Polygon,"[[[116.136785657, -31.953972478], [116.1363256...","[116.136785657, -31.953972478]"

In [27]:
df2 = d4.drop('coordinates', axis=1)
df2.head()

      type                          coords
0  Polygon  [116.074300609, -31.945557995]
1  Polygon  [116.108261821, -31.957856341]
2  Polygon  [116.087268732, -31.898665005]
3  Polygon   [116.088152912, -31.97089126]
4  Polygon  [116.136785657, -31.953972478]

In [40]:
df = pd.concat([df2, d3], axis=1)
df.head()

,type,coords,fih_fire_seaso,fih_year1,fih_season1,fih_district,fih_hist_distr,fih_number,fih_fire_type,fih_date1,...,fih_poly_type,fih_comment,fih_name,fih_burn_purp,fih_master_key,fih_perimeter,fih_hectares,st_area_shape_,st_perimeter_shape_,object_id
0,Polygon,"[116.074300609, -31.945557995]",1937/1938,1938.0,SU,PHL,Mundaring,999,WF,19380101,...,Actual Burnt,Wildfire,,0,43952.0,6.288631,174.906766,0.000167,0.060722,1
1,Polygon,"[116.108261821, -31.957856341]",1937/1938,1938.0,SU,PHL,Mundaring,C30,WF,19380101,...,Actual Burnt,Wildfire - Feb 1 to 7,,0,43953.0,8.286159,327.299341,0.000312,0.083176,2
2,Polygon,"[116.087268732, -31.898665005]",1937/1938,1938.0,SU,PHL,Mundaring,999,WF,19380101,...,Actual Burnt,Wildfire - Closed,,0,43954.0,7.074500,261.536517,0.000249,0.067322,3
3,Polygon,"[116.088152912, -31.97089126]",1937/1938,1938.0,SU,PHL,Mundaring,999,WF,19380101,...,Actual Burnt,Wildfire,,0,43955.0,3.033593,39.225354,0.000037,0.029529,4
4,Polygon,"[116.136785657, -31.953972478]",1937/1938,1938.0,SU,PHL,Mundaring,A8,WF,19380101,...,Actual Burnt,Wildfire,,0,43957.0,4.081616,117.091900,0.000112,0.039589,5

In [31]:
df.info

<bound method DataFrame.info of                 type                                             coords  \
0            Polygon                     [116.074300609, -31.945557995]
1            Polygon                     [116.108261821, -31.957856341]
2            Polygon                     [116.087268732, -31.898665005]
3            Polygon                      [116.088152912, -31.97089126]
4            Polygon                     [116.136785657, -31.953972478]
...              ...                                                ...
165471  MultiPolygon  [[115.734041894, -31.492554728], [115.73395205...
165472       Polygon                     [116.814100127, -32.852176155]
165473       Polygon                     [117.249382886, -34.351500617]
165474  MultiPolygon  [[117.577941605, -30.532162353], [117.57796574...
165475  MultiPolygon  [[119.49045947, -31.870366389], [119.490439475...

       fih_fire_seaso  fih_year1 fih_season1 fih_district      fih_hist_distr  \
0           1937/1938     1938.0          SU          PHL           Mundaring
1           1937/1938     1938.0          SU          PHL           Mundaring
2           1937/1938     1938.0          SU          PHL           Mundaring
3           1937/1938     1938.0          SU          PHL           Mundaring
4           1937/1938     1938.0          SU          PHL           Mundaring
...               ...        ...         ...          ...                 ...
165471      2021/2022     2022.0          AU          SWC        SWAN COASTAL
165472      2021/2022     2022.0          AU          WHB  SOUTHERN WHEATBELT
165473      2021/2022     2022.0          AU          WHB  SOUTHERN WHEATBELT
165474      2021/2022     2022.0          AU          WHB   CENTRAL WHEATBELT
165475      2021/2022     2022.0          AU          WHB   CENTRAL WHEATBELT

       fih_number fih_fire_type fih_date1  ...  fih_poly_type  \
0             999            WF  19380101  ...   Actual Burnt
1             C30            WF  19380101  ...   Actual Burnt
2             999            WF  19380101  ...   Actual Burnt
3             999            WF  19380101  ...   Actual Burnt
4              A8            WF  19380101  ...   Actual Burnt
...           ...           ...       ...  ...            ...
165471    SWC_087            PB  20220423  ...   Actual Burnt
165472    WHB_002            PB  20220511  ...   Actual Burnt
165473    WHB_004            PB  20220507  ...   Actual Burnt
165474    WHB_016            PB  20220420  ...   Actual Burnt
165475    WHB_018            PB  20220504  ...   Actual Burnt

                  fih_comment                 fih_name fih_burn_purp  \
0                    Wildfire                                      0
1       Wildfire - Feb 1 to 7                                      0
2           Wildfire - Closed                                      0
3                    Wildfire                                      0
4                    Wildfire                                      0
...                       ...                      ...           ...
165471                         Pinjar Yanchep hardwood           PRT
165472                                 Dryandra Dwarda      PRT, VEG
165473                                        Warrenup           PRT
165474                                     Mollerin NR      BIO, RES
165475                               Skeleton Rock UCL      PRT, BIO

       fih_master_key fih_perimeter fih_hectares st_area_shape_  \
0             43952.0      6.288631   174.906766       0.000167
1             43953.0      8.286159   327.299341       0.000312
2             43954.0      7.074500   261.536517       0.000249
3             43955.0      3.033593    39.225354       0.000037
4             43957.0      4.081616   117.091900       0.000112
...               ...           ...          ...            ...
165471            0.0     18.420229   330.573443       0.000314
165472            0.0      5.220277    55.939353       0.000054
165473            0.0      3.730036    61.921112       0.000061
165474            0.0      1.816614     5.978355       0.000006
165475            0.0     83.145831   246.760515       0.000236

       st_perimeter_shape_  object_id
0                 0.060722          1
1                 0.083176          2
2                 0.067322          3
3                 0.029529          4
4                 0.039589          5
...                    ...        ...
165471            0.179441     165472
165472            0.054773     165473
165473            0.038661     165474
165474            0.017989     165475
165475            0.803805     165476

[165476 rows x 25 columns]>

In [41]:
df['lat'] = df.coords.apply(lambda x:x[0])
df['lon'] = df.coords.apply(lambda x:x[1])
df.head()

,type,coords,fih_fire_seaso,fih_year1,fih_season1,fih_district,fih_hist_distr,fih_number,fih_fire_type,fih_date1,...,fih_name,fih_burn_purp,fih_master_key,fih_perimeter,fih_hectares,st_area_shape_,st_perimeter_shape_,object_id,lat,lon
0,Polygon,"[116.074300609, -31.945557995]",1937/1938,1938.0,SU,PHL,Mundaring,999,WF,19380101,...,,0,43952.0,6.288631,174.906766,0.000167,0.060722,1,116.074,-31.9456
1,Polygon,"[116.108261821, -31.957856341]",1937/1938,1938.0,SU,PHL,Mundaring,C30,WF,19380101,...,,0,43953.0,8.286159,327.299341,0.000312,0.083176,2,116.108,-31.9579
2,Polygon,"[116.087268732, -31.898665005]",1937/1938,1938.0,SU,PHL,Mundaring,999,WF,19380101,...,,0,43954.0,7.074500,261.536517,0.000249,0.067322,3,116.087,-31.8987
3,Polygon,"[116.088152912, -31.97089126]",1937/1938,1938.0,SU,PHL,Mundaring,999,WF,19380101,...,,0,43955.0,3.033593,39.225354,0.000037,0.029529,4,116.088,-31.9709
4,Polygon,"[116.136785657, -31.953972478]",1937/1938,1938.0,SU,PHL,Mundaring,A8,WF,19380101,...,,0,43957.0,4.081616,117.091900,0.000112,0.039589,5,116.137,-31.954

In [42]:
df = df.drop('type', axis=1)

In [43]:
df.to_csv('bushfire_data2.csv', sep=',')

In [44]:
df.to_csv('bushfire_data2_copy.csv', sep=',')